// RESET
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// COLOR
:root {
    --bg-color: #fff;
    --color-txt : #000;
    --blue : #0b0086;
    --light-grey: #E0E0E0;
    --yellow-sweet: #FFD369;

}

// BODY
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'verdana', Arial, sans-serif;
    font-size: 1em;

    margin: 0 auto;
    max-width: 1000px;

    border: solid 3px var(--color-txt);

    .flex
	{
		display: flex;
	}

    main, #name {
        padding: 0 5%;
    }

    h4 {
        font-size: 1.2em;
		margin: 0;
		padding: 4% 0;
        color: var(--blue);
    }
}


// HEADER
header {
    width: 100%;

    .flex {
        display: flex;

        // PHOTO
        #head_photo {
            flex: 1;
            background-color: var(--blue);

            .vp_photo {
                margin: 15% auto;
                height: 150px;
                width: 150px;
                border: solid var(--yellow-sweet) 2px;
                border-radius: 50%;
                overflow: hidden;
                padding: 0 0 25px 0;

                #photo {
                    width: 110%;
                    margin-top: -10px;
                    margin-left: -15px;
                }
            }

        }

        // TITLE
        #name {
            flex: 2;
            background-color: var(--light-grey);

            h1 {
                padding-top: 10%;
                margin: 0;
                font-size: 3.5em;
                text-transform: uppercase;

                .blue {
                    color: var(--blue);
                }
            }

            h2 {
                margin-bottom: 5%;
                margin-top: 0%;
                font-size: 2.5rem;

                #border_dev {
                    border-bottom: var(--yellow-sweet) 2px solid;
                }
            }

        }
    }
}

// ASIDE
#my_contact {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    background-color: var(--blue);
    color: var(--bg-color);

    .aside {

        margin: 3rem 0;

        h3 {
            // background-color: #02310b;
            color: var(--bg-color);
            text-align: center;
            text-transform: uppercase;
            padding:  2% 0%;
            margin-bottom: 0;
        }
        p {
            padding: 0 10%;

            .bold {
                font-weight: bold;
            }
        }

        .hobbies {
            text-align: center;
            font-size: 2em;
            padding: 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            img {
                border: 2px solid var(--yellow-sweet);
                width: 50px;
                height: 50px;
                text-align: center;
                border-radius: 50%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    #contact {
        h3 {
            margin-top: 0;
        }
        a {
            text-decoration: none;
            color: var(--light-grey);
            text-decoration: underline var(--yellow-sweet);

            &:hover {
                color: var(--yellow-sweet);
            }
        }

    }

    .flex-grow {
        flex-grow: 3;

        p {
            font-weight: 500;
            font-size: 18px;
        }
    }
}

main {
    flex: 2;
    background: url('../img/fond-livres.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

    #formations h3, #experience h3, #recom h3 {
		font-size: 1.3em;
		padding-top: 3%;
		margin-top: 0;
		margin-bottom: 1%;
		text-transform: uppercase;
	}

    .border-h2 {
        border-bottom: 2px solid var(--yellow-sweet);
		margin-bottom: 2%;

        .px1 {
            padding-right: 1rem;
        }

        .px2 {
            font-size: 0.5em;
		    padding-right: 1rem;
        }
    }

    article {
		display: flex;
		flex-direction: row;

        .flex-date {
            flex: 1;

            .align-date {
                display: inline-flex;
            }
        }
        .comp {
            flex: 2;
		    margin-left: 2%;
        }
	}

}